/* Note: iTextSharp does not fully support standard CSS property names. */
body {
	face: Helvetica; /* font name */
	size: 1; /* font size - DO NOT CHANGE! */
}

/* table for PDF export */
.ew-table-pdf {
	border: 0.5; /* grid border */
	size: 1; /* font size - DO NOT CHANGE! */
	width: 100%;
}

/* table header */
.ew-table-pdf-header {
	bgcolor: #3E3276; /* header bgcolor */
	color: #FFFFFF; /* header font color */
	valign: top;
}

/* row color */
.ew-table-row {
	bgcolor: #E7E7FF; /* alt row color 1 */
}

/* alternate row color */
.ew-table-alt-row {
	bgcolor: #F7F7F7; /* alt row color 2 */
}

/* main table footer */
.ew-table-pdf-footer {
	bgcolor: #E6E6FA; /* footer color */
}
