


@{
    ViewBag.Title = "Home Page";
}

<div id="odontograma"></div>


@section Scripts {

    <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
            $.ajax({
                async: false,
                url: 'http://localhost:58409/Login/Logout',
                method: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function () {
                    window.location = "http://localhost:58409/Login/";
                },
                error: function (ex) {
                    window.location = "http://localhost:58409/Login/";
                }
            });
          }
          function onLoad() {
              gapi.load('auth2', function () {
                  gapi.auth2.init();
              });
          }

          onLoad();
    </script>

    
    <script src="@Url.Content("~/Scripts/US/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/US/phaser.min.js")"></script>
    <script src="@Url.Content("~/Scripts/US/droplimit.js")"></script>
}

