@{

    // Layout
    //Layout = "_Layout2";
    Layout = null;

}

<table border="1">
    <thead></thead>
    <tbody>
        <tr>
            <td width="200">
                <b>No. de Expediente</b>
            </td>
            <td width="50">
                1
            </td>
            <td width="100">
                <b>Nombre</b>
            </td>
            <td width="400">
                PRIMER PACIENTE INSERTADO
            </td>
            <td width="100">
                <b>Fecha</b>
            </td>
            <td>
                06/02/2019
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>

<input id="iOdi" type="hidden" value="@ViewBag.Id" />
    

    <div id="odontograma"></div>

    <script src="~/js/us/phaser.min.js"></script>
    <script src="~/js/us/webfont.js"></script>
    <script src="~/js/us/droplimit.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>



