<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Derecha
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#">SIGECO</a>.</strong> Todos los derechos Reservados.
</footer>
